* {

    background-color: #1F2937;
}

.header {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {

    color: #F9FAF8;
    font-size: 24px;
}

.section1 {

    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.section-one-signup {

    color: #F9FAF8;
    font-size: 24px;

}

.random {

    background-color: aquamarine;
    height: auto;
    width: 100px;
}


.main-image {

    border: 10px solid silver;
    width: 500px;
    height: auto;
}

.section2 {

    display: flex;
    justify-content: space-evenly;
    gap: 5px;

}

.find-movie {

    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: center;

}

.option-image {

    border: 10px solid silver;
    width: 250px;
    height: auto;

}

.image-block-1,
.image-block-2,
.image-block-3 {

    color: #F9FAF8;
    font-size: large;

}