* {

    background-color: #1F2937;
}

.header {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{

    color: #F9FAF8;
    font-size: 24px;
}

.section1 {

    display: flex;
    margin: 10px;
    justify-content: space-evenly ;
}

.section-one-signup {

    color: #F9FAF8;
    font-size: 24px;

}


.main-image {

    border: 10px solid silver;
    width: 500px;
    height: auto;
}
